@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .button-container {
    margin-top: 20px;
  }
  
  .google-login-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #34495e;
    border: 1px solid #7f8c8d;
    color: #ecf0f1;
    cursor: pointer;
    transition: background-color .3s;
  }
  
  .google-login-btn:hover {
    background-color: white;
    color: black;
}
  
  .google-logo {
    margin-right: 10px;
  }
  
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1a1a1d;
    color: #fff;
  }
  
  .welcome-text {
    font-size: 2rem;
    color: #f4f4f8;
  }
  
  .links-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
  
  .link-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #22223b;
    border: none;
    color: #fff;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .link-btn:hover {
    background-color: #4a4e69;
  }
  
  .logout-btn {
    margin-top: 30px; 
    padding: 10px 20px; 
    font-size: 18px; 
  }
  .content-wrapper {
    margin-bottom: 40px;
  }

  .box {
    position: relative; 
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.google-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    padding: 15px 32px;
    /* text-align: center; */
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
}

.login-title {
    font-size: 2rem;
    text-align: center;
    color: #FFD700;
    margin-bottom: auto;
}


body {
    margin: 0;
    padding: 0;
} 